:root {
    --main-color: #7f5539;
    --hover-color: #b08968;
    --btn-color: #9c6644;
    --btn-hover: #b1744e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    background-color: #ebebeb;
    display: grid;
    grid-template-areas:
        "header"
        "section"
        "footer";
    grid-template-rows: 25%, 55%, 20%;
    grid-template-columns: 1fr;
    width: 100%;
}

/* icons */

.fa-heart {
    color: rgb(202, 43, 43);
}

.fa-facebook-f {
    width: 38px;
}

/* header */

.header {
    background-color: var(--main-color);
}

.menu-desplegable {
    background-color: var(--hover-color);
}

.logo-img {
    margin-left: 25px;
}

/* footer */

.footer {
    background-color: var(--main-color);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    grid-area: footer;
}

.footer p {
    color: whitesmoke;
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    text-align: center;
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* footer responsive mobile */

@media screen and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer p {
        display: none;
    }
}

/* Inicio */

.home {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 90px;
    height: 100vh;
    grid-area: section;
}

.home .content {
    margin-left: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
}

.home .content .content__title {
    font-weight: 600;
    font-size: 35px;
    margin: 10px;
    margin-bottom: 20px;
}

.home .content .content__title span {
    color: var(--main-color);
    text-transform: capitalize;
}

.home .content .content__description {
    line-height: 1.7;
    margin: 10px;
    margin-bottom: 40px;
}

.home .content .btn {
    color: whitesmoke;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--main-color);
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}

.content .btn:hover {
    background: var(--btn-hover);
}

/* home page responsive */

@media screen and (max-width: 600px) {
    .home {
        text-align: center;
        margin: none;
        background-image: linear-gradient(to bottom, #ebebeb, whitesmoke);
    }

    .home .content {
        align-items: center;
        margin: auto;
    }
}

/* Sobre nosotros */

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    grid-area: section;
}

.about .about__title {
    text-align: center;
    padding: 50px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
}

.about__title span {
    color: var(--main-color);
}

.about .about-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-btn {
    color: white;
    text-transform: capitalize;
    padding: 10px 20px;
    background-color: var(--btn-color);
    border-radius: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    width: 30%;
    text-align: center;
}

.about-btn:hover {
    background-color: var(--btn-hover);
    color: white;
}

/* about responsive mobile */

@media screen and (max-width: 600px) {
    .about-text {
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .about-btn {
        width: 70%;
    }
}

/* Menu */

.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-area: section;
    margin-bottom: 50px;
}

.menu__title {
    text-align: center;
    margin-top: 90px;
    padding: 50px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu__title span {
    color: var(--main-color);
}

.cafe-container {
    display: flex;
    justify-content: space-between;
}

.cafe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    border-radius: 25px;
    transition: all 0.4s;
    margin-bottom: 30px;
    font-size: 16px;
}

.cafe:hover {
    transform: scale(1.02, 1.02);
}

.cafe .price {
    font-size: 14px;
    color: rgb(117, 115, 115);
}

.cafe .boton {
    color: white;
    text-transform: capitalize;
    background-color: var(--btn-color);
    padding: 8px 20px;
    border-radius: 25px;
    text-decoration: none;
}

.cafe .boton:hover {
    background-color: var(--btn-hover);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .cafe {
        font-size: 14px;
        justify-content: space-between;
    }
    .cafe .price {
        font-size: 12px;
    }
}

/* Productos */

.products {
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-area: section;
    margin-bottom: 120px;
}

.products__title {
    text-align: center;
    margin-top: 100px;
    padding: 50px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
}

.products__title span {
    color: var(--main-color);
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.product {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    padding: 25px;
    font-size: 14px;
    margin-bottom: 10px;
}

.product h3 {
    margin-top: 30px;
    font-size: 16px;
}

.product:hover {
    transform: scale(1.02, 1.02);
}

.product .boton {
    color: white;
    text-transform: capitalize;
    background-color: var(--btn-color);
    padding: 8px 20px;
    border-radius: 25px;
    text-decoration: none;
}

.product .boton:hover {
    background-color: var(--btn-hover);
    cursor: pointer;
}

/* products responsive mobile */

/* Contacto */

.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: section;
}

.contact__title {
    text-align: center;
    padding: 50px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main-color);
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    height: 500px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: radial-gradient(
        circle,
        rgba(177, 116, 78, 0.227328431372549) 0%,
        rgba(176, 137, 104, 0.7287289915966386) 100%
    );
}

.formulario h3 {
    padding: 20px;
    font-size: 28px;
    font-weight: 400;
}

.formulario .input {
    padding: 20px;
}

.formulario .input span {
    width: 30px;
}

.formulario .input input {
    border-radius: 10px;
    text-align: start;
    padding: 10px;
    width: 30%;
}

.formulario .btn {
    padding: 10px;
    width: 30%;
    background-color: var(--btn-color);
    border-radius: 25px;
    cursor: pointer;
    color: whitesmoke;
    transition: all 0.3s;
    margin-top: 20px;
}

.formulario .btn:hover {
    background-color: var(--btn-hover);
    transform: scale(1.05, 1.05);
}

/* formulario responsive mobile */

@media screen and (max-width: 600px) {
    .contact {
        width: 100%;
        height: auto;
    }

    .formulario {
        width: auto;
        margin-bottom: 20px;
    }

    .formulario .input {
        width: 100%;
    }

    .formulario .input input {
        width: 80%;
    }
}
