// SOBRE NOSOTROS

.about {
    @include sizes(100%, 100vh);
    display: flex;
    flex-direction: column;
    grid-area: section;

    .about__title {
        @extend .title;
        span {
            color: map-get($colores, main-color);
        }
    }

    .about-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .about-btn {
        color: white;
        text-transform: capitalize;
        padding: 10px 20px;
        background-color: map-get($colores, btn-color);
        border-radius: 20px;
        margin-bottom: 10px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        width: 30%;
        text-align: center;
    }
    .about-btn:hover {
        background-color: map-get($colores, btn-hover);
        color: white;
    }
}