// HEADER

.header {
    background-color: map-get($colores, main-color);
    .menu-desplegable {
        background-color: map-get($colores, hover-color);
    }
    .logo-img {
        margin-left: 25px;
    }
}

