// MENU

.menu {
    @include sizes(100%, 100%);
    display: flex;
    flex-direction: column;
    grid-area: section;
    margin-bottom: 50px;

    .menu__title {
        @extend .title;
        margin-top: 90px;
        span {
            color: map-get($colores, main-color);
        }
    }

    .cafe-container {
        display: flex;
        justify-content: space-between;
        .cafe {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 30px;
            border-radius: 25px;
            transition: all 0.4s;
            margin-bottom: 30px;
            font-size: 16px;
            .cafe-description h3 {
                font-size: 16px;
            }
            .boton {
                color: white;
                text-transform: capitalize;
                background-color: map-get($colores, btn-color);
                padding: 8px 20px;
                border-radius: 25px;
                text-decoration: none;
            }
            .boton:hover {
                background-color: map-get($colores, btn-hover);
                cursor: pointer;
            }
        }
        .cafe:hover {
            transform: scale(1.02, 1.02);
        }
    }
}
